<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="loginTestCase">
	  <parameter name="browser" value="Chrome"/> 
	   <classes>
            <class name="loginTestCase.loginTestCase"/>
        </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
